.business_text{
	FONT-SIZE: 24px; 
	COLOR: #b6ff7b; 
	FONT-FAMILY: "ΊΪΜε"; 
	TEXT-DECORATION: none;
}

.business_info{
	FONT-SIZE: 24px; 
	COLOR: #f9ff4e; 
	FONT-FAMILY: "ΊΪΜε"; 
	TEXT-DECORATION: none;
}