<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ItvgamePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>packages</param-name>
    <param-value>cn.ohyeah.itvgame.action</param-value>
  </context-param>
  <context-param>
    <param-name>initial_actions</param-name>
    <param-value>BusinessController,GatewayController,ProductController,ToolsController</param-value>
  </context-param>
  <filter>
    <filter-name>global-filter</filter-name>
    <filter-class>cn.ohyeah.itvgame.global.PlatformFilter</filter-class>
  </filter>
  <filter>
    <filter-name>session-filter</filter-name>
    <filter-class>cn.ohyeah.itvgame.global.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>global-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>session-filter</filter-name>
    <url-pattern>/action/business/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>session-filter</filter-name>
    <url-pattern>/action/product/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>cn.halcyon.mvc.ActionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>protocol</servlet-name>
    <servlet-class>cn.ohyeah.itvgame.protocol.ProcessorServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
    <servlet>
    <servlet-name>protocolv2</servlet-name>
    <servlet-class>cn.ohyeah.itvgame.protocolv2.ProcessorServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/action/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>protocol</servlet-name>
    <url-pattern>/protocol/processor</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>protocolv2</servlet-name>
    <url-pattern>/protocolv2/processor</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>point</servlet-name>
    <servlet-class>cn.ohyeah.itvgame.point.servlet.PointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>point</servlet-name>
    <url-pattern>/point</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>subscribeAction</servlet-name>
    <servlet-class>cn.ohyeah.itvgame.point.servlet.SubscribeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subscribeAction</servlet-name>
    <url-pattern>/subscribe/subscribeAction</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>